#prntrpt{
    float: right;
}
#complstgrn{
    color: #18ce0f;
}
#complstrd{
    color: #f96332;
}
#sbmt{
    background:#18ce0f;
    color: #fff;
}
#sbmt:hover{
    color:#18ce0f;
    background: #fff;
    border: 1px solid #18ce0f;
}
#comp{
    background: rgba(249, 99, 50, 0.5);
}
#comp:hover{
    background: rgb(249, 99, 50);
}
#jui{
    background: #fff;
    height: 4em;
}
#jui:hover{
    color: #18ce0f;
}
#stat_on{
    color: #18ce0f;
}
#stat_off{
    color: #f96332;
}